.example-full-width {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 391px;
}
.form-row{
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 391px;
}