<div class="showcase" id="showcase">
    <div class="content">
        <h1 class="header">Welcome</h1>
        <h4 class="subheader">{{loggedUser}}</h4>
    </div>
    <!-- <div class="image">
        <img src="assets/images/IMG-20190816-WA0006.jpg" alt="">
    </div> -->
</div>

<!-- <div class="seven-steps">
    <div class="steps-header" id="steps">
        7-Steps to becoming an Artisan
    </div>
    <div class="steps-content">
        <ul class="steps-items">
            <li class="step" (mouseover)="display('step1')">Step 1: Career Development</li>
            <p id="step1">
                "Identity can be construed as predominantly an internal aspect linked to an individual’s perception and
                description of him- or herself" [6]. Social identity on the other hand "can be defined as a person’s
                knowledge that he or she belongs to a social category or group" [6]. The negativity surrounding
                artisanal careers can be largely attributed to the perceptions of individuals belonging to the artisanal
                group.
            </p>
            <li class="step" (mouseover)="display('step2')">Step 2: Learner Contracting</li>
            <p id="step2">
                The majority of artisan training and learning happens in the workplace. It is in the workplace that
                apprentices get to apply the theory and practice they have acquired at the SDP. The delivery of the A21
                apprenticeship will incorporate the dual system principles applied within the South African context
                incorporating lessons from the DSAP and DSPP.
            </p>
            <li class="step" (mouseover)="display('step3')">Step 3: Knowledge, Practical and Workplace
                    Training</li>
            <p id="step3">
                The A21 apprenticeship requires an integrated approach to apprenticeships. This process requires the
                time between knowledge, practical learning and workplace leaning for apprentices to be as short as
                possible. The rationale is that more learning is achieved in the workplace when the knowledge and
                practical components are still "fresh" in the
            </p>
            <li class="step" (mouseover)="display('step4')">Step 4: Artisan Recognition of Prior
                    Learning</li>
            <p id="step4">
                The White Paper for Post School Education and Training states “It is close to twenty years since South
                Africa discarded the apartheid regime and replaced it with a democratically elected government. Much has
                been achieved since then, but much remains to be done to rid our country of the injustices of its
                colonial and apartheid past.
            </p>
            <li class="step" (mouseover)="display('step5')">Step 5: Trade Testing</li>
            <p id="step5">
                All Trade Testing (External Integrated Summative Assessment) in South Africa is regulated in terms of
                the provisions of the National Trade Test Regulations issued under Section 26D(5) of the Skills
                Development Amendment. The National Trade Test Regulations are applicable to all Trade Test Centres
                whether they are operated by private, government
            </p>
            <li class="step" (mouseover)="display('step6')">Step 6: Certification</li>
            <p id="step6">
                Prior to the early 1980s South Africa had a single national artisan certification system controlled from
                the Centre of Trade Testing or COTT (today known as INDLELA) that issued a “red seal certificate under
                the auspices of the National Department of Manpower (today Department of Labour). With the advent of
                firstly the Industry Training Boards from 1981 as
            </p>
            <li class="step" (mouseover)="display('step7')">Step 7: Quality Assurance</li>
            <p id="step7">
                The statutory responsibility for the quality assurance of the occupational qualifications in relation to
                trades lies with the QCTO. This includes the occupational trade curricula developed, those in the
                development pipeline and their implementation. It therefore follows that QCTO policy will therefore
                guide the implementation of the quality
            </p>
        </ul>
        <div class="image">
            <img src="assets/images/artisan-training.jpg" alt="">
        </div>
    </div>
</div> -->
