* {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  // font-size: 0.9vw !important;
  font-size: clamp(10px, 0.9vw, 13px) !important;
}

h1 {
  font-size: clamp(1.6rem, 2vw, 2rem) !important;
  /* font-size: 40px; */
}

h2 {
  font-size: clamp(1.2rem, 2vw, 1.8rem) !important;
}

h3 {
  font-size: clamp(1.2rem, 2vw, 1.6rem) !important;
}

h4 {
  font-size: clamp(1rem, 2vw, 1.4rem) !important;
}

h5 {
  font-size: clamp(0.8rem, 2vw, 1.2rem) !important;
}

// mat-icon {
//   font-size: clamp(0.9rem, 0.9vw, 1.2rem) !important;
// }

