// Variable overrides
// Primary colors
$primary: rgb(19, 19, 110);
$warning: rgb(245, 122, 0);
$success: rgb(27, 94, 32);
$delete: rgb(183, 28, 28);

// Primary color grading
$primary-light: rgb(83, 75, 174);
$warning-light: rgb(255, 160, 64);
$success-light: rgb(76, 140, 74);

